#topo {
  display: flex;
  margin: auto;
  flex-direction: row;
}
#lista {
  display: flex;
  margin: auto;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
}
li{
  padding: 15px;
}
#dapp{
  color: #fff;
    background-image: linear-gradient(#8a46ff,#6e38cc);
    border-radius: 3rem;
    padding: 10px 14px;
    font-size: .8rem;
    transition: .2s;
    position: relative;
}

